:root  > * {
    --blre-accent-color: #fb5300;
    --blre-primary-color: #131515;
    --md-primary-fg-color: var(--blre-primary-color);
    --md-primary-fg-color--light: hsl(from var(--blre-primary-color) h s l / 0.5);
    --md-primary-fg-color--dark:  var(--blre-primary-color);
    --md-text-font: "Roboto";
}

[data-md-color-primary="blre"] {
    --md-text-font: "Exo";
    --md-admonition-bg-color: rgba(0,0,0, 0.5);
    --md-accent-fg-color: var(--blre-accent-color);
    --md-typeset-a-color: var(--blre-accent-color);
    --md-default-fg-color: rgba(255, 255, 255, 0.8);
    --md-default-fg-color--lightest: rgba(255, 255, 255, 0.4);
    --md-default-bg-color: var(--blre-primary-color)/*rgba(0,0,0,0.5);*/;
    --md-code-bg-color: rgba(0,0,0,0.5);
    --md-footer-bg-color: transparent;
    --md-footer-bg-color--dark: transparent;

    .md-main, .md-header, .md-header > .md-tabs {
        background: transparent;
    }

    .md-container,
    .md-header {
        background-image: url(../assets/background.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .md-header--shadow {
        box-shadow: 0 0 .2rem hsl(from var(--blre-accent-color) h s l / 0.5), 0 .2rem .4rem  hsl(from var(--blre-accent-color) h s l / 0.2);
        border-bottom: 1px solid var(--blre-accent-color);
    }

    .md-footer {
        box-shadow: 0 .2rem .4rem  hsl(from var(--blre-accent-color) h s l / 0.2), 0 0 .2rem hsl(from var(--blre-accent-color) h s l / 0.5);
        border-top: 1px solid var(--blre-accent-color);
    }
    
    .md-nav__item--active > .md-nav__link,
    .md-nav__title {
        background: none !important;
        box-shadow: none !important;
    }

    .md-nav__item--active > .md-nav__link {
        color:var(--blre-accent-color) !important;
    }

    .md-nav__title,
    .md-nav__item--section > .md-nav__link {
        color:#fff !important;
    }

    .md-typeset {
        h1, h2 {
            color: #fffffff0;
        }
    }

    .grid.cards > ul > li {
        box-shadow: var(--md-shadow-z1);
        border: 0.05rem solid hsl(from var(--blre-accent-color) h s l / 0.4);
        background-color: hsl(from var(--blre-accent-color) h s l / 0.1);

        &:hover {
            border-color: hsl(from var(--blre-accent-color) h s l / 0.8);
        }
    }
}